<div id="<%= dom_id journal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= journal.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= journal.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= journal.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= journal.published_at %>
  </p>

</div>
